.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flag {
  width: 500px;
  height: 500px;
}
.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
